@tailwind base;
@tailwind components;
@tailwind utilities;

.receita {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    user-select: none;
}

.lineorange {
    background-color: #E96B35;
}

.textorange {
    color: #E96B35;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.inter {
    font-family: "Inter", sans-serif;
}

.search {
    background: #EAEBEA url('../src/assets/search-icon.png') no-repeat;
    background-position: 1em;
    background-size: 1.8rem;
    padding-left: 3.8em;
    padding-right: 1.2em;
}

.scroll-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #ffffff;
}

.searchbar {
    display: flex;
    justify-content: flex-end;
}

.line {
    background-color: #B8B8B8;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.animate-pop {
    animation: pop 0.3s ease;
}
